div#examples
  div#client
    span.console-title Client
    div.console
  
  div#server
    span.console-title Server
    select#server-type
      option tcp
      option express
      option connect
      option http
    span
      input#browserify(type='checkbox')
      | browserify
    span
      input#jquery(type='checkbox')
      | jquery
    div.console
