body {
    background-color: rgb(124, 188, 50);
    margin: 0px;
}

#header {
    margin-left: auto;
    margin-right: auto;
    width: 860px;
    height: 280px;
}

#header-image {
}

#remote-functions {
    position: fixed;
    top: 10px;
    margin-left: 20px;
    font-size: 18pt;
}

#backend {
    margin-left: 30px;
}

#frontend {
    margin-left: 60px;
}

#examples {
    margin: auto;
    margin-top: 20px;
    width: 950px;
    background-color: rgb(154, 208, 60);
    height: 390px;
}

#examples select {
    margin-left: 10px;
}

.console {
    width: 440px;
    height: 330px;
    padding: 10px;
    background-color: rgb(40, 60, 20);
    color: white;
    white-space: pre;
    font-family: monospace;
    font-size: 10pt;
    overflow: auto;
}

.console-title {
    font-size: 16pt;
}

#client {
    float: left;
    margin-left: 10px;
}

#server {
    float: right;
    margin-right: 10px;
}
